body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 4rem;
  margin-top: 0;
  font-family: 'Mali', cursive;
  color: #844685;
  line-height: 2;
}

.sub-profile {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15rem;
  font-weight: normal;
  color: #844685;
  text-align: center;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  bottom: 50px;
}

.profile {
  padding-top: 15px
}




h2 {
  font-family: 'Montserrat', sans-serif;
  color: #844685;
}


h3 {
  font-family: 'Montserrat', sans-serif;
}


.top-container {
  background-color: #cbf1f5;
  position:relative;
  padding-top:100px;
  text-align: center;
}

.middle-container {
background-color: #a6e3e9;
text-align: center;
}

.bottom-container {
background-color: #71c9ce;
padding-top: 10px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right:300px;
  top: 50px;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  width: 15%;
}


.table {
  margin:0 auto;
}


.hr-2 {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 5%;
}


.word {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15rem;
  font-weight: normal;
  color: #40514e;
  text-align: center;
}


.btn {
  position: relative;
  bottom: 5px;
}
